# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

#non-default
/*
/*/
!/src/
!/src/*
*.DS_Store*
/gradle
/gradle*
gradle.properties
!gradlew
gradlew.bat
!build.gradle
!LICENSE
!.gitignore
!/build/
/build/*
!/build/libs/
/build/libs/*sources*
