# Important setup
/*
/*/
!/src/
!/src/*
*.DS_Store*

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
!CREDITS*
!*changelog*

# Vital git files
!LICENSE*
!README*
!.gitignore

# Eclipse formatter
!/Cadiboo's Eclipse Formatter.epf

# OPTIONAL - release JARs
!/build/
/build/*
!/build/libs/
/build/libs/*sources*
